APP_PORT=3333

# Malipo Public API Credentials for Test API
MALIPO_API_KEY=
MALIPO_API_SECRET=
MALIPO_API_URL=https://sandbox.malipopayments.co.ke

# Webhook configuration for local reception and automatic registration
MALIPO_WEBHOOK_URL=http://localhost:3333/api/webhooks/malipo
MALIPO_WEBHOOK_SECRET=
