APP_PORT=3000
# Malipo Public API Credentials for Test API
MALIPO_API_KEY=pk_production_669644ab348f8958aec82234649f9eb3
MALIPO_API_SECRET=sk_production_b2dd83149fe046ce96789bf4053f9a8daf36964d27adcfdf7a67e78d0786c54d
# MALIPO_API_URL=http://localhost:3000
MALIPO_API_URL=https://production.malipopayments.co.ke

# Webhook configuration for local reception and automatic registration
# MALIPO_WEBHOOK_URL=http://localhost:3333/api/webhooks/malipo
MALIPO_API_URL=https://local-api.bdcomputing.co.ke/api/webhooks/malipo
MALIPO_WEBHOOK_SECRET=whsec_fc1942346f61d50a87e602fa6edac550
